.pie-de-pag{
    font-size: 15px;
    padding-top: 1%;
    color: white;
    text-align: center;
}


.links-pie-de-pagina{
    text-decoration: none;
    color: white;
    text-align:left;
    
    display: block;
    font-weight: bold;
    
    
}



.boton-ir-inicio{
    color: white;
    text-decoration: none;
    background-color: $color-primario;
    float: right;
}

